# Primeros pasos

* Python es un lenguaje de programación de alto nivel, interpretado y de propósito general.

* Fue creado por Guido van Rossum y lanzado por primera vez en 1991.
* Es conocido por su sintaxis clara y su enfoque en la legibilidad del código, lo que lo hace ideal para principiantes y profesionales.

<img src="https://prepinstadotcom.s3.ap-south-1.amazonaws.com/wp-content/uploads/2020/07/python-removebg-preview.webp" width=200>

## Entorno de trabajo

Colab, o “Colaboratory”, te permite escribir y ejecutar código de Python en tu navegador, con:

* Una configuración lista para que empieces a programar
* Acceso gratuito a GPU
* Facilidad para compartir

Seas **estudiante**, **científico de datos** o **investigador de IA**, Colab facilita tu trabajo.

<img src="https://colab.research.google.com/img/colab_favicon_256px.png">

## Hola Mundo en python

In [ ]:
print("Hola Mundo!")

A fin de ejecutar el código en la celda anterior, haz clic en él para seleccionarlo y luego presiona el botón de reproducción ubicado a la izquierda del código o usa la combinación de teclas “Command/Ctrl + Intro”. Para editar el código, solo haz clic en la celda y comienza a editar.

In [ ]:
# Escribe el código para imprimir un saludo personalizado con tu nombre...

## ¿Qué son variables?

En Python, una variable es un contenedor para almacenar datos.
Los tipos de datos básicos incluyen enteros **(int)**, flotantes **(float)**, cadenas **(str)** y booleanos **(bool)**.

<img src="https://static.platzi.com/media/user_upload/variables-en-programacion-607799e5-10f1-44d7-abb3-58e8c0be0f58.jpg">

In [1]:
# Vamos a crear nuestra primer variable
x = 5

In [2]:
# Veamos ahora el contenido de la variable
print(x)

5

In [3]:
# ¿Cómo validar el tipo de variable que es?
type(x)

int

## Tipos de variables

Existen muchas formas de almacenar información en variables.

In [4]:
# Números enteros

a = 2
print(a)

2

In [5]:
# Números reales

b = 12.5
print(b)

12.5

In [6]:
# String (Cadena de caracteres)

# Veamos como declarar letras

letra = "A"
print(letra)

A

In [7]:
# Ahora texto más largo

nombre = "Andres"
print(nombre)

Andres

In [8]:
# Una frase completa
frase_completa = "Este es un ejemplo de frase muy larga"
print(frase_completa)

Este es un ejemplo de frase muy larga

In [10]:
# Texto con saltos de linea demasiado largos

bloque_texto = """ Este es un bloque de texto
que me permite escribir texto en varias lineas

y poder colocar bloques grandes de texto

- también se pueden colocar viñetas
- listado de elementos y muchas otras cosas

este texto tiene 9 líneas

"""

print(bloque_texto)

 Este es un bloque de texto
que me permite escribir texto en varias lineas

y poder colocar bloques grandes de texto

- también se pueden colocar viñetas
- listado de elementos y muchas otras cosas

este texto tiene 9 líneas

In [11]:
# Booleanos

bandera = True
print(bandera)

True

In [12]:
# Booleanos 2

esEstudiante = False
print(esEstudiante)

False

In [13]:
# Booleanos

tieneCertificado = bool(1) # bool(0)
print(tieneCertificado)
print(type(tieneCertificado))

True
<class 'bool'>

In [15]:
# Listas

lista = [ 3, 2.8, 5, 'hola', True, [1,5,6] ]
print(lista)
print(type(lista))

[3, 2.8, 5, 'hola', True, [1, 5, 6]]
<class 'list'>

<img src="https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/listas-python-t1.jpg" width=400>

### Imprimir texto dando formato a la salida

Existen diferentes formas de imprimir el contenido de las variables en python y dar un formato específico a los que se quiere mostrar por pantalla

In [16]:
# 1. Usar varios comandos print
nombre = "Alvaro"
print("Hola, mi nombre es:")
print(nombre)

Hola, mi nombre es:
Alvaro

In [17]:
# 2. Utilizar comas (,) para separar el contenido
nombre = "Alvaro"
edad = 25
print("Hola, soy ",nombre,"y tengo ", edad, "años")

Hola, soy  Alvaro y tengo  25 años

In [19]:
# 3. Utilizar un formatted string
nombre = "Álvaro"
edad = 18
cargo = "Jefe de proyecto"
promedio = 4.5

cadena = f"El estudiante {nombre}, {cargo} tiene {edad} años y un promedio de {promedio} "
print(cadena)

El estudiante Álvaro, Jefe de proyecto tiene 18 años y un promedio de 4.5

### Ejercicio 1.

Crea una variable llamada 'edad' y asígnale el valor de tu edad. Imprime el valor y el tipo de dato.

In [ ]:
# Escribe tu solución acá.

### Ejercicio 2.

Imagina que estás desarrollando un programa para recopilar y analizar información personal básica de empleados de una institución pública. Este programa debe ser capaz de almacenar datos personales, verificar ciertos atributos y realizar algunas operaciones básicas con ellos. Los datos que necesitas recolectar incluyen la edad, la altura, el cargo de la persona y si la persona está actualmente estudiando.

**Crea variables para almacenar la información de 3 colaboradores e imprimir la información de ellos.**

In [ ]:
# Escribe tu solución acá.

## Operaciones Aritméticas

<table>
<thead>
<tr>
<th style="text-align:center">Operador</th>
<th style="text-align:center">Descripción</th>
<th style="text-align:center">Uso</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">+</td>
<td style="text-align:center">Realiza Adición entre los operandos</td>
<td style="text-align:center">12 + 3 = 15</td>
</tr>
<tr>
<td style="text-align:center">-</td>
<td style="text-align:center">Realiza Substracción entre los operandos</td>
<td style="text-align:center">12 - 3 = 9</td>
</tr>
<tr>
<td style="text-align:center">*</td>
<td style="text-align:center">Realiza Multiplicación entre los operandos</td>
<td style="text-align:center">12 * 3 = 36</td>
</tr>
<tr>
<td style="text-align:center">/</td>
<td style="text-align:center">Realiza División entre los operandos</td>
<td style="text-align:center">12 / 3 = 4</td>
</tr>
<tr>
<td style="text-align:center">%</td>
<td style="text-align:center">Realiza un módulo entre los operandos</td>
<td style="text-align:center">16 % 3 = 1</td>
</tr>
<tr>
<td style="text-align:center">**</td>
<td style="text-align:center">Realiza la potencia de los operandos</td>
<td style="text-align:center">12 ** 3 = 1728</td>
</tr>
<tr>
<td style="text-align:center">//</td>
<td style="text-align:center">Realiza la división con resultado de número entero</td>
<td style="text-align:center">18 // 5 = 3</td>
</tr>
</tbody>
</table>

In [21]:
# Suma y resta
print("Suma = ", 4+5)
print("Resta = ", 4-5)

Suma =  9
Resta =  -1

In [24]:
# Multiplicación y División

a = 10
b = 3

print("Multiplicación = ", a*b)
print("División = ", a/b)
print("División entera = ", a//b)

Multiplicación =  30
División =  3.3333333333333335
División entera =  3

In [63]:
c = a//b
print(c)

# Tipo de variable 'c'
print(type(c))

1
<class 'int'>

In [64]:
a = 6
b = 2
c = 2.

In [65]:
# Tipo de variable 'a'
print(type(a))

# Tipo de variable 'b'
print(type(b))

# Tipo de variable 'c'
print(type(c))

<class 'int'>
<class 'int'>
<class 'float'>

In [66]:
operacion_a = a/b

operacion_b = a/c

print(operacion_a)
# Tipo de dato 'operacion_a'
print(type(operacion_a))

print(operacion_b)
# Tipo de dato 'operacion_b'
print(type(operacion_b))

3.0
<class 'float'>
3.0
<class 'float'>

In [22]:
# Otras operaciones
print("Residuo = ", 10%3)
print("Potencia = ", 2**3)
print("Raiz = ", 2**0.5)

Residuo =  1
Potencia =  8
Raiz =  1.4142135623730951

In [23]:
# Funciones útiles para operaciones aritméticas
print("Redondear números= ",round(3.867483,3))
print("Valor Absoluto= ",abs(-4))
print("Convertir número a decimal= ",float('3.5'))

Redondear números=  3.867
Valor Absoluto=  4
Convertir número a decimal=  3.5

## Casteo de variables

El casteo de variables es el proceso de convertir una variable de un tipo a otro.

Este proceso permite transformar la información, modificarla y realizar operaciones entre variables.
<img src="https://img.freepik.com/vector-premium/icono-cambio-moneda-o-cambio-dinero-efectivo-dolar-euro-concepto-banca-vector-ilustracion-dibujos-animados-plana-imagen-aislada_101884-1412.jpg" width=400>

In [25]:
# De cadena a entero
cadena = "123"
entero = int(cadena)
print(entero)  # Salida: 123
print(type(entero))  # Salida: <class 'int'>

123
<class 'int'>

In [26]:
# De entero a flotante
entero = 5
flotante = float(entero)
print(flotante)  # Salida: 5.0
print(type(flotante))  # Salida: <class 'float'>

5.0
<class 'float'>

In [27]:
# De flotante a cadena
flotante = 3.14
cadena = str(flotante)
print(cadena)  # Salida: '3.14'
print(type(cadena))  # Salida: <class 'str'>

3.14
<class 'str'>

In [28]:
# De entero a booleano
entero = 0
booleano = bool(entero)
print(booleano)  # Salida: False
print(type(booleano))  # Salida: <class 'bool'>

False
<class 'bool'>

### Ejercicio

Imagina que estás recopilando datos de una encuesta y necesitas asegurarte de que todos los valores numéricos se traten correctamente. Si los datos se ingresan como cadenas (por ejemplo, desde un formulario web), necesitarás convertir esos valores a enteros o flotantes para realizar cálculos.

In [ ]:
# Datos de entrada como cadenas
edad_cadena = "30"
altura_cadena = "1.75"

# Tu código acá.

## Operaciones lógicas y relacionales

En programación, las operaciones lógicas son utilizadas para tomar decisiones basadas en condiciones. Estas operaciones devuelven valores booleanos (True o False). Python ofrece varios operadores lógicos que nos permiten realizar estas evaluaciones.

<img src="https://programacionpython.wordpress.com/wp-content/uploads/2008/07/signos1.jpg">

In [56]:
#m Menor que
5<6

True

In [57]:
a = 5
b = 5
a1 = 7
b1 = 3
c1 = 3

In [58]:
# Mayor que
e = a1 > b1
print(e)

True

In [60]:
# Menor que
f = b1 < a1
print(f)

True

In [61]:
# Mayor o igual que
g = b1 >= c1
print(g)

True

In [62]:
# Menor o igual que
h = b1 <= c1
print(h)

True

In [52]:
# Igual
'Hola' == 'Adios'

False

In [55]:
cadena1 = 'Adios'
cadena2 = 'Bye'

cadena0 = cadena1 != cadena2
print(cadena0)

True

In [53]:
# Diferente
1 != 0

True

In [33]:
True == False

False

In [67]:
num_1 = 2
num_2 = 5
num_3 = 2.0001
num_4 = 2
letra_E = 'E'
letra_e = 'e'

In [70]:
# Tipo de dato 'num_1'
print("Tipo de dato 'num_1':",type(num_1))

# Tipo de dato 'num_2'
print("Tipo de dato 'num_2':",type(num_2))

# Tipo de dato 'num_3'
print("Tipo de dato 'num_3':",type(num_3))

# Tipo de dato 'num_4'
print("Tipo de dato 'num_4':",type(num_4))

# Tipo de dato 'letra_E'
print("Tipo de dato 'letra_E': ",type(letra_E))

# Tipo de dato 'letra_e'
print("Tipo de dato 'letra_E':",type(letra_e))

Tipo de dato 'num_1': <class 'int'>
Tipo de dato 'num_2': <class 'int'>
Tipo de dato 'num_3': <class 'float'>
Tipo de dato 'num_4': <class 'int'>
Tipo de dato 'letra_E':  <class 'str'>
Tipo de dato 'letra_E': <class 'str'>

In [71]:
# 2 es mayor que 5?
print(num_1 > num_2)

False

In [72]:
# 2 es menor que 5?
print(num_1 < num_2)

True

In [73]:
# 2 es mayor o igual que 5?
print(num_1 >= num_2)

False

In [74]:
# 2 es menor o igual que 5?
print(num_1 <= num_2)

# 2 es menor o igual que 2?
print(num_1 <= num_4)

True
True

In [75]:
# 2 es igual a 2.0001?
print(num_1 == num_3)

False

In [76]:
# 2 es diferente a 2.0001?
print(num_1 != num_3)

True

In [ ]:
# la letra 'E' es diferente a la letra 'e'?
print(letra_E != letra_e);

### AND

*Este operador devuelve True si ambas condiciones son **True**.*

<img src="https://www.circuitspedia.com/wp-content/uploads/2018/12/AND-gate-..gif">

In [29]:
resultado = (5 > 3) and (10 < 20)
print(resultado)

True

### OR

*Este operador devuelve True si al menos una de las condiciones es **True**.*

<img src="https://miro.medium.com/v2/resize:fit:1000/0*9yrqkCGWlHgadEtI.gif">

In [34]:
resultado = (5 > 3) or (10 > 20)
print(resultado)

True

### NOT

Este operador invierte el valor de una condición.

<img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Not-gate-en.svg">

In [36]:
resultado = not (False)
print(resultado)

True

In [37]:
resultado = not (5 > 3)
print(resultado)

False

### Ejemplo: Verificar la Edad y la Altura

Imaginemos que estamos desarrollando un programa para verificar si una persona es mayor de edad **y** si su altura es mayor que la media (la altura media es 1.70).

In [38]:
# Datos de entrada
edad = 25
altura = 1.80

In [42]:
# Operaciones lógicas
es_mayor_de_edad = (edad >= 18)
es_alto = (altura > 1.70)

print(es_mayor_de_edad)
print(es_alto)

True
True

In [40]:
# Ahora validemos la condición que se pide
resultado = es_mayor_de_edad and es_alto
print(f"Es mayor de edad y alto: {resultado}")

Es mayor de edad y alto: True

### Ejercicio: Verificar Edad o Altura

1. Ahora verifiquemos si una ersona es mayor de edad o si su altura es mayor al umbral establecido.

2. ¿Cómo quedaría la validación si en lugar de validar si es mayor de edad, quiero valida que **NO** sea mayor de edad (menor de edad)?

In [43]:
# Tu código va acá

In [ ]:
# Tu código va acá

## Operadores de asignación

Los operadores de asignación en Python se utilizan para asignar valores a las variables. Estos operadores combinan una operación matemática con la asignación, lo que permite escribir el código de manera más concisa y eficiente.


<table>
<thead>
<tr>
<th style="text-align:center">Operador</th>
<th style="text-align:center">Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">=</td>
<td style="text-align:center">a = 5. El valor 5 es asignado a la variable a</td>
</tr>
<tr>
<td style="text-align:center">+=</td>
<td style="text-align:center">a += 5 es equivalente a a = a + 5</td>
</tr>
<tr>
<td style="text-align:center">-=</td>
<td style="text-align:center">a -= 5 es equivalente a a = a - 5</td>
</tr>
<tr>
<td style="text-align:center">*=</td>
<td style="text-align:center">a *= 3 es equivalente a a = a * 3</td>
</tr>
<tr>
<td style="text-align:center">/=</td>
<td style="text-align:center">a /= 3 es equivalente a a = a / 3</td>
</tr>
<tr>
<td style="text-align:center">%=</td>
<td style="text-align:center">a %= 3 es equivalente a a = a % 3</td>
</tr>
<tr>
<td style="text-align:center">**=</td>
<td style="text-align:center">a **= 3 es equivalente a a = a ** 3</td>
</tr>
<tr>
<td style="text-align:center">//=</td>
<td style="text-align:center">a //= 3 es equivalente a a = a // 3</td>
</tr>
</tbody>
</table>

In [77]:
var3 = 2
var3 += 3
print(var3)

5

In [78]:
var3 = 2
var3 -= 10
print(var3)

-8

In [79]:
var3 = 2
var3 *= 2
print(var3)

4

In [80]:
var3 = 2
var3 **= 4
print(var3)

16

In [81]:
var3 = 2
var3 /= 2
print(var3)

1.0

In [82]:
var3 = 2
var3 //= 1.5
print(var3)

1.0

In [83]:
var3 = 2
var3 %= 1
print(var3)

0

### Ejercicio:

Crea un programa que realice las siguientes operaciones utilizando operadores de asignación:

1.	Asigna el valor inicial de 50 a una variable x.
2.	Suma 10 a x utilizando +=.
3.	Resta 5 a x utilizando -=.
4.	Multiplica x por 2 utilizando *=.
5.	Divide x entre 4 utilizando /=.
6.	Calcula el módulo de x con 3 utilizando %=.
7.	Eleva x al cuadrado utilizando **=.
8.	Realiza una división entera de x por 5 utilizando //=.

In [84]:
# Tu código va acá

## Jerarquía de operadores

La jerarquía de operaciones, también conocida como precedencia de operadores, determina el orden en que se evalúan las operaciones en una expresión. Conocer la jerarquía es crucial para escribir expresiones matemáticas y lógicas correctamente en Python.


| Jerarquia |
|-------------------|
| Paréntesis `( )` |
| Exponente `**`|
| División (`/`) y Módulo (`%`) |
| Multiplicación (`*`) |
| Suma (`+`) y Resta (`-`) |
| Operadores Relacionales (`>`, `<`, `>=`, `<=`, `==`, `!=`) |
| Negación (`not`) |
| Conjunción (`and`) |
| Disyunción inclusiva (`or`) |
| Operadores de Asignación |


*Para más información sobre prioridad de operadores en Python visite este [enlace](https://interactivechaos.com/es/manual/tutorial-de-python/precedencia-de-operadores)*

In [ ]:
print( 5 ** (2 * 3) + 3 )

15628

In [ ]:
print( 5 % 2 * 3 + 3 )

6

In [ ]:
print( 5 % (2 * 3) + 3 )

8

In [ ]:
a = -5
b = 3
c = 2

print( a / b * a / c > b - a * c )

False

In [ ]:
a = 10
b = 7
c = -1

print( a %  b + c * a > 3 or c * c < 5 )

True

In [87]:
# El operador and tiene mayor precedencia que or, por lo que se hace primero
resultado = True or False and False
print(resultado)

True

In [88]:
# Los operadores de asignación tienen la menor precedencia y se evalúan al final
a = 5
a += 3 * 2
print(a)

11

## Entrada dinámica de datos en python

Hasta aquí hemos visto como imprimir información desde el programa hacia los usuarios.

Sin embargo, una persona que quiera probar o hacer un programa debe poder entender sobre variables para, por ejemplo, hacer una calculadora, o un validador de edad. Pero en la vida real, lo que buscamos es que el usuario ingrese la información de manera dinámica.

Para esto, Python cuenta con la función `input()` para pedirle a un usuario externo que ingrese algunos datos y nosotros realizar las validaciones o procesos.


<img src="https://scaler.com/topics/images/input-and-output-in-python-1024x928.webp" width=400>

La función `input()` en Python se utiliza para recibir datos del usuario. Es una manera efectiva de hacer que tus programas sean interactivos, permitiendo a los usuarios ingresar información que luego puede ser utilizada por el programa.

In [45]:
# Sintaxis

variable = input("Mensaje al usuario: ")
print("El usuario dijo: ",variable)

Mensaje al usuario: Hola mundo desde el input
El usuario dijo:  Hola mundo desde el input

In [46]:
# Revisemos de qué tipo de datos es "variable"
print(type(variable))

<class 'str'>

In [47]:
variable = input("Ingresa ahora un número: ")
print("El usuario escribió: ",variable)
print(type(variable))

Ingresa ahora un número: 2
El usuario escribió:  2
<class 'str'>

In [48]:
# ¿Entonces cómo podemos leer número? si siempre es un string

# recuerda que puedes hacer un casteo
variable = input("Ingresa ahora un número: ")
VariableCasteada = int(variable)
print("El usuario escribió: ",VariableCasteada)
print(type(VariableCasteada))

Ingresa ahora un número: 3
El usuario escribió:  3
<class 'int'>

### Ejercicio 0: Pedir edad

Vamos a solicitar la edad de una persona por consola y vamos guardarla en una variable

In [ ]:
# Tu código va acá

### Ejercicio 1: Recibir y mostrar datos

1.	Solicita al usuario que ingrese su nombre, edad y ciudad de residencia.
2.	Imprime un mensaje que combine todos estos datos en una sola oración.

In [49]:
# Tu código va acá

### Ejercicio 2: Realizar operaciones matemáticas con datos ingresados por el usuario

1.	Solicita al usuario que ingrese dos números.
2.	Convierte las entradas a enteros.
3.	Calcula e imprime la suma, resta, multiplicación y división de estos dos números.

In [ ]:
# Tu código va acá

## Ejercicio

**Contexto**

Imagina que estás desarrollando un programa para una oficina gubernamental que necesita recopilar y analizar información básica de sus empleados. La información que necesitas incluir es la edad, la altura, si son estudiantes, y su salario. El programa debe verificar si los empleados cumplen ciertos criterios y proporcionar un resumen de la información.

**Objetivos del Ejercicio**

1.	Solicitar al usuario que ingrese su edad, altura, si es estudiante y su salario.
2.	Convertir las entradas a los tipos de datos adecuados.
3.	Verificar:
  *	Si el empleado es mayor de edad.
  *	Si su altura es mayor que la media (1.70 metros).
  *	Si su salario es mayor o igual a un salario promedio (ej. $3000).
  *	Si no es estudiante.
4.	Imprimir un resumen con toda la información y los resultados de las verificaciones.

In [51]:
# Tu código va acá

## Reto 1: Factura Empresa de hamburguesas

**Contexto**

Ud trabaja en un restaurante de hamburguesas en el que necesitan automatizar el proceso de impresión de la factura de cada uno de los clientes. Debes calcular los precios de impuestos y el costo total de cada orden.

**Objetivo del ejercicio**

Realice una impresión de una factura que muestre:

* El precio individual de una hamburguesa (5 dolares)
* El precio invididual de una gaseosa (2 dolares)
* El precio del menú con hamburguesa, gaseosa y papas cuyo costo es de 10 dolares
* El precio total sin IVA
* El precio total con IVA del 8%

In [50]:
# Tu código va acá

## Reto: Análisis de Información Financiera

**Contexto**

Imagina que trabajas en el departamento financiero de una empresa y necesitas desarrollar un programa para analizar la información financiera básica de los empleados. Este programa debe recopilar datos como el salario mensual, los gastos mensuales, y calcular el ahorro mensual. Además, debe verificar si los empleados están ahorrando más del 20% de su salario y proporcionar un resumen financiero.

**Objetivos del Ejercicio**

  **1.**	Solicitar al usuario que ingrese su salario mensual y sus gastos mensuales.

  **2.**	Convertir las entradas a los tipos de datos adecuados.

  **3.**	Calcular el ahorro mensual y el porcentaje de ahorro sobre el salario.

  **4.**	Verificar si el porcentaje de ahorro es mayor al 20%.

  **5.**	Imprimir un resumen financiero con toda la información y los resultados de las verificaciones.

In [ ]:
# Tu código va acá